header{
    height: 60px;
    background-color: rgb(245, 245, 241);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid rgba(7, 7, 7, 0);
}
aside{
    width: 150px;
    background-color: rgb(203, 202, 193);
    top: 60px;
    height: calc(100vh);
    position: fixed;

}
main {
    background-color: rgb(240, 235, 233);
    margin-top: 60px;
    height: 500px;
    margin-left: 150px;
}

#img-container img{
    width: 150px;
   
}
#img-container{
    float: left;
    margin-top: 8px;
    margin-left: 10px;
}
#logo-container{
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    display: inline-block;
   
}
#logo-container ion-icon{
    font-size: 1.4rem;
    padding: 1px 5px;

}

#logo-container ion-icon:hover {
    background-color:rgb(212, 209, 209);
    border-radius: 30%;
    
}
#logo-container ion-icon:first-child:hover{
    color: blue;
}
#logo-container ion-icon:nth-child(2):hover{
    color: rgb(17, 233, 17);
}
#logo-container ion-icon:nth-child(3):hover{
    color: red;
}
#logo-container ion-icon:last-child:hover{
    color: #0072b1 ;
}
#main-menu li{
    padding: 10px ;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid rgb(138, 134, 134);
}
#main-menu li:hover{
    background-color: rgba(171, 153, 153, 0.983);
}
.drop-down-menu{
    position: relative;
}
.drop-down-menu:hover .sub-menu{
    opacity: 1;
}
.sub-menu{
    position: absolute;
    left: 100%;
    top: 0;
    opacity: 0;
    background-color: white;
    border: 1px solid lightgray;
    border-top: none;
    min-width: 100px;
    border-bottom: none;
    transition: 500ms;
    
}
.sub-menu img{
   width: 50px;
   margin: 0;
}
#slider{
    height: 500px;
    background-image: url(/img/slides/slide3.jpeg);
    /* background-position: left; */
    background-position: center;
    /* background-repeat: repeat-x; */
    /* background-size: unset; */
    animation-name: slider;
    animation-duration: 20s;
    animation-iteration-count: infinite;

}
#slider:hover{
   /* transform: rotate(2deg); */
   /* transform: translate(10px); */
   transform: scale(0.99);
   
}

@keyframes slider {
    form{
        background-image: url(/img/slides/slide3.jpeg);
    }
    20%{
        background-image: url(/img/slides/slide1.jpg);
    }
    40%{
        background-image: url(/img/slides/slide4.jpg);
    }
    60%{
        background-image: url(/img/slides/slide5.jpg);
    }
    80%{
        background-image: url(/img/slides/slide2.jpg);
    }
    to{
        background-image: url(/img/slides/slide1.jpg);
    }
}
main h1{
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
    color: rgb(31, 29, 29);
}
main h2{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    color: rgb(31, 29, 29);
}
main p{
    padding: 10px;
    line-height: 2;
}
main img{
    float: right;
    padding-left: 20px;
    margin-right: 10px;
}
footer {
    text-align: center;
    padding: 10px;
    border-top: 1px solid lightgray;
}
.drop-down-menu::before{
    content: "";
    display: block;
    width: 0;
    border: 5px solid;
    border-left-color: black;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}