*{
    box-sizing: border-box;
}

body{
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Tilt Neon', sans-serif;
}